<meta charset="UTF-8">
<link rel="icon" href="data:image/x-icon;base64,">
<title>Application Title</title>
<link rel="stylesheet" href="app/styles/app-style.css">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Wellkom | Be Well - Perform Well - Live Well Longer</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="app/styles/newcss.css">
<link rel="stylesheet" href="app/styles/bootstrap.min.css">
<link rel="stylesheet" href="app/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="app/styles/fontAwesome.css">
<link rel="stylesheet" href="app/styles/light-box.css">
<link rel="stylesheet" href="app/styles/owl-carousel.css">
<link rel="stylesheet" href="app/styles/templatemo-style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<script src="https://aka.ms/csspeech/jsbrowserpackageraw"></script>
<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<div class="page-content">
<section id="v3" class="content-section">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-heading">
                            <h1>The <em>Problem</em></h1>
                        
                        </div>

                    <p>Unless you have sufficient energy, you’ll lack both the will and the ability to achieve your goals. There is probably no greater barrier to physical and emotional well-being than fatigue. Failure to get a good night’s sleep is invariably the problem - and it is a costly one. The sleep debt in the United States makes the economic debt look trivial by comparison.</p>

                    <br>

                    <p>Over 40 million Americans suffer from sleep disorders. More than 200,000 traffic accidents occur each year because of driver fatigue, and lack of sleep is the cause of 33% of fatal truck accidents. Studies at Stanford University have revealed that drowsy drivers are actually more impaired than most drunken drivers. All totaled, the direct and indirect costs resulting from sleep disorders and fatigue may be as much as $116 billion a year. It’s time to start viewing chronic, insufficient rest as a physical disability. It’s imperative that you take steps to deal with it. If you don’t, you won’t be able to do the things you want because you can’t.</p>

                    <br>

                    <h4>The Top Causes of Fatigue</h4>
                        <div class="text-content">
                        	<div class="section-heading">
                        		<br>
                        		<ul>
                        			<li>Too much work and not enough recreation</li>
                        			<li>Iron deficiency</li>
                        			<li>Sleep apnea</li>
                        			<li>Depression</li>
                        			<li>Emotional loss</li>
                        			<li>Thyroid problems</li>
                        			<li>Recent illness</li>
                        			<li>Snoring partners</li>
                        			<li>Sedentary lifestyle</li>
                        		</ul>
                            </div>
                        </div>
            </section>
</div>
